body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("rect.svg");
  background-repeat: repeat;
  font-family: "mono";
}
canvas {
  display: block;
}

h6 {
  font-size: 12px;
  margin: 0px;
  font-style: bold;
  padding-left: 10px;
  color: white;
  border-style: solid;
  border-color: red;
  background-color: red
}

#header {
  background-color: red;
  color: white;
  width: 1020px;
  overflow-x: hidden;
  margin-top: 20px;
}

#t {
  background-color: red;
  color: white;
  width: 215;
  overflow-x: clip;
}

#cycle {
  white-space: nowrap;
  clip-path: inset(10px, 20px, 30px, 40px);
  animation: marquee 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0px); /* Começa da direita (fora da tela) */
  }
  100% {
    transform: translateX(-173px); /* Move todo o conteúdo para a esquerda (fora da tela) */
  }
}

.container {
  border: 2px solid red;
  box-shadow: 5px 5px black;
  background-color: white;
  margin: 8px
}

.highlight_red {
  background-color: red;
}

.highlight_green {
  background-color: green;
}

.highlight_blue {
  background-color: blue;
}

#main {
  height: 800px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

#canva_container {
  width: 400px;
  height: 422px;
}

#color_selector {
    width: 400px;
    height: 239px;
}

#color_hex {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1.4em;
    color: #555;
}

#color_preview {
    width: 100px;
    height: 100px;
    align-self: center;
    background-color: #000;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}

.color_bar {
    display: flex;
    align-items: center;
}

.color_bar label {
    width: 40px;
    margin-right: 10px;
    text-align: right;
    color: #333;
    font-size: 1.2em;
}

.color_bar input[type="range"] {
    flex-grow: 1;
}

.color_bar label[id$="_label"] {
    width: 20px;
    text-align: left;
    color: #555;
    font-size: 1.2em;
    margin-left: 8px;
}

#pixel_selector {
    width: 400px;
    height: 139px;
    background-color: #f8f8f8;
    color: #333;
}

#pixel_selector label {
    font-size: 1.2em;
}

#select_pixel {
    vertical-align: middle;
}

#column_selector, #row_selector {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#column_selector label, #row_selector label {
    width: 60px;
    text-align: right;
    margin-right: 10px;
    margin-left: 50px;
}

#column_selector button, #row_selector button {
    padding: 2px 10px;
    border: 3px solid #ccc;
    background-color: #fff;
    color: #555;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
}

#column_selector button:hover, #row_selector button:hover {
    background-color: #ff0000ff;
}

#selected_column, #selected_row {
    width: 50px;
    margin-left: 10px !important;
    text-align: center !important;
}

#right_column {
  width: 600px;
  height: 800px;
  background: pink;
}
